<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @new_analysis.count_of_words %></h2>

<h2>Vowels: <%= @new_analysis.count_of_vowels %></h2>

<h2>Consonants: <%= @new_analysis.count_of_consonants %></h2>

<h2>Most Common Letter: <%= @new_analysis.most_used_letter.keys.first.capitalize %>, used <%= @new_analysis.most_used_letter.values.first %> times</h2>
